{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link href="{{ asset('assets/auth.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="formulaire">
    <div id="titleauth">
    <h1> Inscription </h1>
    <h4> Inscrivez vous avec votre adresse CESI </h4>
    <div id="terms"><input type="checkbox" ><label for="terms">J'accepte les <a href="/mentions">Mentions Légales</a></label></div>
    </div>
    {{ form_start(form) }}
    {{ form_end(form) }}
    <a href="/connexion"> J'ai déjà un compte</a>
    </div>
{% endblock %}