{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link href="{{ asset('assets/auth.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="formulaire">
    <div id="titleauth">
    <h1> Inscription </h1>
    <h4> Inscrivez vous avec votre adresse CESI </h4>
    </div>
    {{ form_start(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}