#formulaire {
position: absolute;
top: 50%;
left: 50%;
width:30em;
height:18em;
margin-top: -9em;
margin-left: -15em; 
background-color: whitesmoke;
border-radius: 25px;
border: 25px solid white;
width: 30%;
height: 50%;
text-align: center;

}

.button {
background-color: #3644EA;
border-color: black;
border-width: 0.01em;
font: Helvetica;
color: white;
margin-top: 1em;
font-style: bold;
}

#titleauth {
text-align: center;
vertical-align: middle;


}
