/* Global */
body
{
    margin: 0px;
	background:#000000;
	background-color: black;
	overflow-x: hidden;
}

html
{
	position: relative;
	min-height: 100%;
}
/* */


/* Header */
#header_up
{
	position: fixed;
	text-align: right;
	background-color:#3677EA;
	color:white;
	padding:6px;
	width: 100%;
	margin-top: -70px;
	z-index: 999;
}

#header_up button
{
	border-color: black;
	background-color: #3644EA;

}

#header_down
{
	background-image:url("https://picsum.photos/1903/200");
	background-color:black;
	color: white;
	text-align: center;
	background-size: 100% 100%;
	background-repeat:no-repeat;
	max-width:100%;
    height:200px;
	font-size:3em;
	margin-top: 70px;
}
/* */

/* "My account" and "Disconnect" buttons */
.connecte 
{
	display: none;
}
/* */

.evenement
{
    text-align: center;
}

/* Footer */
footer
{
	background:#ccc;
	position:absolute;
	bottom:0;
	width:100%;
	background-color: black;
	text-align:center;
	vertical-align: center;	
}
/* */



/* Cookies' pop-up */
#cookieConsent 
{
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
	top: 0;
	right: 0;
    display: none;
	z-index: 9999;
}

#cookieConsent a 
{
    color: #4B8EE7;
	text-decoration: none;
}

#closeCookieConsent 
{
    float: right;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-top: -12px;
    font-weight: bold;
}

#closeCookieConsent:hover 
{
    color: #FFF;
}

#cookieConsent a.cookieConsentOK 
{
    background-color: #4B8EE7;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    margin: 0 60px 0 10px;
}

#cookieConsent a.cookieConsentOK:hover 
{
    background-color: #3177D5;
}
/* */


* 
{
  box-sizing: border-box;
}

/* Media queries */
@media screen and (max-width: 400px), screen and (max-height: 800px) 
{
	.margin-bottom-resp
	{
		margin-bottom: 50px;
	}
}
/* */