{% extends 'base.html.twig' %}


{% block body %}

{#<div class="example-wrapper">
   

 This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/wamp64/www/projet/src/Controller/ProjetController.php'|file_link(0) }}">src/Controller/ProjetController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/wamp64/www/projet/templates/projet/index.html.twig'|file_link(0) }}">templates/projet/index.html.twig</a></code></li>
    </ul>
</div>#}

    {% if  app.session.get('user') != NULL %}
		<h1>Bienvenue sur la page d'accueil du BDE CESI, {{app.session.get('user')}}.</h1>
	{% else %}
        <h1>Bienvenue sur la page d'accueil du BDE CESI.</h1>
    {% endif %}

{% endblock %}
