{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/auth.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}


{% if app.session.get('role') == 2  %}
{{form(form)}}

{% else %}
<h1>Vous n'avez pas les permissions.</h1><a href="/boutique"> Retour </a>
{% endif %}



{% endblock %}