{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link href="{{ asset('assets/auth.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
        <div id="formulaire">
            
            <form action="{{ path('connexion')}}" method="POST">
                <div id="titleauth"><h1>Connexion</h1></div>
                
                <label><b>Adresse mail</b></label>
                <input type="text" placeholder="Entrer l'adresse mail" name="_username" required>

                <label><b>Mot de passe</b></label>
                <input type="password" placeholder="Entrer le mot de passe" name="_password" required>

                <input type="submit" id='submit' value='LOGIN' >
                
            </form>
        </div>
        </div>
{% endblock %}
   