{% extends 'base.html.twig' %}

{% form_theme formContact 'bootstrap_4_layout.html.twig' %}

{% block body %}

<div class="container">
    <!-- Form with last name, first name, mail, and message -->
    {{form(formContact)}}
</div>

{% endblock %}