{% extends 'base.html.twig' %}

{% block body %}

<!-- When the inscription failed -->
Echec de l'inscription : Votre mot de passe requiert au moins une majuscule, une minuscule et un chiffre. <a href="inscription"> Retour à l'inscription </a>
<!--  -->

{% endblock %}