{% extends 'base.html.twig' %}

{% block body %}

{% for activity in activities %}
<div class="p-5 m-4 border-right bg-light">
    <div class="card">
        <div class = "evenement">
            <h2>{{activity.name}}</h2>
            <div class="metadata p-2"> Crée le {{activity.date | date('d/m/Y')}}</div>
            <div class="content m-1">
                <img src= "{{activity.image}}" alt="">
                <br/>
               
                <a href="/evenement/{{activity.id}}" class="btn btn-primary m-3">Voir l'événement</a>
            </div>
        </div>
    </div>    
</div>

{% endfor %}

<br/><br/><br/>

<style>

h2 {
    font-weight: bold;
}

img {
    max-width: 100%;
}

</style>


{% endblock %}