{% extends 'base.html.twig' %}
{% block body %}
{% for activity in activities %}
<div class = "evenement">
    <h2>{{activity.name}}</h2>
    <div class="metadata"> Crée le {{activity.date | date('d/m/Y')}}</div>
    <div class="content">
        {{activity.description | raw}}
</div>
{% endfor %}


{% endblock %}