<!DOCTYPE html>


<html>
	<head>
  		<meta charset="utf-8">
  		{% block title %}{% endblock title %}
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
	<link href="{{ asset('assets/style.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="{{ asset('assets/vendors/fontawesome/css/all.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/vendors/bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        {% block stylesheets %}
        	
    	{% endblock %}
    </head>

    <body>

		<header>
			<div id="header_up">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#">
					<img class="logo" src="assets/images/logo-cesi.jpg" max-width="100%" height="30" alt="">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
						</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/calendrier">Agenda des événements</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/boutique">Boutique</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact">Nous Contacter</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/connexion">Connexion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/inscription">Inscription</a>
					</li>
					<!--<li class="nav-item">
						<a href="/connexion"><button type="button" class="btn btn-primary">Connexion</button></a>
					</li>
					<li class="nav-item">
						<a href="/inscription"><button type="button" class="btn btn-primary">Inscription</button></a>	
					</li>-->
					</ul>
				</div>
			</nav>
			</div>

			<div id="header_down">
				<p>BDE CESI</p>
				<img  class="logo_BDE"
				src="./assets/images/logo_BDE.png">
			</div>
		</header>

		<div id="page-content">

			<!--<div id="sidebar" class="w3-sidebar w3-collapse  w3-animate-left">
					<img class="logo"
					src="./assets/images/logo-cesi-ecole-ingenieurs.jpg">
				<br>
				<br>
					<a href="/"><button id="slid-bar-btn" type="button" class="btn btn-primary" aria-pressed="false">Accueil</button></a>
					<a href="/calendrier"><button id="slid-bar-btn" type="button" class="btn btn-primary" aria-pressed="false">Agenda des événements</button></a>
					<a href="/boutique"><button id="slid-bar-btn" type="button" class="btn btn-primary">Boutique</button></a>
					<a href="/contact"><button id="slid-bar-btn" type="button" class="btn btn-primary" aria-pressed="false">Nous Contacter</button></a>
			</div>-->

		<br /><br /><br />

					{% block body %}{% endblock %}


			
		<!--<footer>
			<div id="contact">
				<a href="/contact"><button type="button" class="btn btn-primary" id="" aria-pressed="false">Nous Contacter</button></a>
			</div>
			<div id="mentions">
				<a href="/mentions"><button type="button" class="btn btn-primary" id="" aria-pressed="false">Mention Légales</button></a>
			</div>
			<div id="reseaux">
				<div id="facebook">
					<a href="https://www.facebook.com/BDE-CESI-Lille-2190916054532603/"><button type="button" class="btn btn-primary" aria-pressed="false"><i class="fab fa-facebook-square"></i> Facebook</button></a>
				</div>
				<div id="twitter">
					<a href="https://www.twitter.com/"><button type="button" class="btn btn-primary" aria-pressed="false"><i class="fab fa-twitter-square"></i> Twitter</button></a>
				</div>
			</div>

		</footer>-->

  
		</div>
		<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
			<div class="container text-center">
				<a href="/mentions"><button type="button" class="btn btn-primary" id="" aria-pressed="false">Mention Légales</button></a>
			</div>
		</footer>
        
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
 		<script
  			src="https://code.jquery.com/jquery-3.4.1.min.js"
  			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
 		<script src="./assets/vendors/script.js"></script>

		<script>
			$("#sidebar").mCustomScrollbar({
            theme: "minimal"
			});

			$('#dismiss, .overlay').on('click', function () {
				// hide sidebar
				$('#sidebar').removeClass('active');
				// hide overlay
				$('.overlay').removeClass('active');
			});

			$('#sidebarCollapse').on('click', function () {
				// open sidebar
				$('#sidebar').addClass('active');
				// fade in the overlay
				$('.overlay').addClass('active');
				$('.collapse.in').toggleClass('in');
				$('a[aria-expanded=true]').attr('aria-expanded', 'false');
			});
		</script>

		{% block javascripts %}{% endblock %}
    
	</body>

</html>

